<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spares</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/hyundai-logo.png' %}" type="image/x-icon">

    <!-- Fonts & Icons -->
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,300" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'styles/plugins/c3.css' %}">
    <link rel="stylesheet" href="{% static 'styles/plugins/waves.css' %}">
    <link rel="stylesheet" href="{% static 'styles/plugins/perfect_scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.min.css' %}">

    <style>
        .btn-primary {
            background-color: #055cb9;
            color: white;
            padding: 4px 20px;
            border-radius: 4px;
            text-decoration: none;
        }
        .btn-primary:hover {
            background-color: #0d355f;
        }
        .autocomplete-items {
            border: 1px solid #d4d4d4;
            border-top: none;
            max-height: 150px;
            overflow-y: auto;
            z-index: 99;
            position: absolute;
            background: white;
            width: 100%;
        }
        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
        }
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }
    </style>
</head>
<body id="app" class="app off-canvas">

<header class="site-head" id="site-head">
    <ul class="list-unstyled left-elems">
        <li><a href="javascript:;" class="nav-trigger icon ion-md-menu"></a></li>
        <li>
            <div class="site-logo visible-xs">
                <a href="javascript:;" class="text-uppercase h3"><span class="text">Spare Parts</span></a>
            </div>
        </li>
    </ul>
</header>

<div class="main-container clearfix">
	<aside class="nav-wrap" id="site-nav" data-perfect-scrollbar>
			<div class="nav-head">
				<!-- site logo -->
				<a class="site-logo text-uppercase">
					{% comment %} <i class="ion ion-disc"></i> {% endcomment %}
					<img src="{% static 'images/hyundai-logo.png' %}" alt="">
					<span class="text">Spare Parts</span>
				</a>
			</div>

			<!-- Site nav (vertical) -->

			<nav class="site-nav clearfix" role="navigation">
				

				<!-- navigation -->
				<ul class="list-unstyled clearfix nav-list mb15">
					<li class="active">
						<a href="{% url 'dashboard' %}">
							<i class="ion ion-monitor"></i>
							<span class="text">Dashboard</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<i class="icon ion-md-cog"></i>
							<span class="text">Machine Management</span>
							{% comment %} <i class="icon ion-md-arrow"></i> {% endcomment %}
						</a>
						<ul class="inner-drop list-unstyled">
							<li><a href="{% url 'add_machine' %}">Add Machine</a></li>
							<li><a href="{% url 'list_machine' %}">List Machine</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
							<i class="icon ion-md-construct"></i>
							<span class="text">Spares Management</span>
							{% comment %} <i class="icon ion-md-arrow"></i> {% endcomment %}
						</a>
						<ul class="inner-drop list-unstyled">
							<li><a href="{% url 'add_spares' %}">Add Spares</a></li>
							<li><a href="{% url 'list_spares' %}">List Spares</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
							<i class="icon ion-md-cube"></i>
							<span class="text">Inventry Management</span>
							{% comment %} <i class="icon ion-md-arrow"></i> {% endcomment %}
						</a>
						<ul class="inner-drop list-unstyled">
							<li><a href="{% url 'add_inward' %}">Add Inward</a></li>
							<li><a href="{% url 'list_inward' %}">List Inward</a></li>
							<li><a href="{% url 'list_outward' %}">List Outward</a></li>
							<li><a href="{% url 'list_stock' %}">List Stock</a></li>
						</ul>
					</li>

                    <li>
						<a href="javascript:;">
							<i class="icon ion-md-hourglass"></i>
							<span class="text">Preventive Management</span>
							{% comment %} <i class="icon ion-md-arrow"></i> {% endcomment %}
						</a>
						<ul class="inner-drop list-unstyled">
							<li><a href="{% url 'add_preventive' %}">Add Preventive</a></li>
							<li><a href="{% url 'list_preventive' %}">List Preventive</a></li>
						</ul>
					</li>

					
					<li>
						<a href="javascript:;"><i class="icon ion-md-paper"></i><span class="text">Report Management</span></a>
						<ul class="inner-drop list-unstyled">
							<li><a href="{% url 'breakdown_report2' %}">BreakDown Report</a></li>
							<li><a href="{% url 'spares_inward_report2' %}">Spares Inward Report</a></li>
							<li><a href="{% url 'spares_outward_report2' %}">Spares Outward Report</a></li>
							 
						</ul>
					</li>

				</ul> <!-- #end navigation -->
			</nav>


		</aside>
    <div class="content-container fixedHeader nav-expand">
        <div class="col-sm-12 col-md-11">
            <div class="panel panel-default panel-hovered panel-stacked mb30">
                <div class="panel-heading">
                    Add Breakdown

                    <div style="float: right;">
                        <a href="{% url 'list_machine' %}" class="btn btn-primary">List Machines</a>
                    </div>
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <script>alert('{{ message }}');</script>
                    {% endfor %}
                {% endif %}

                <div class="panel-body">
                    <form id="form" enctype="multipart/form-data" class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-md-3 control-label">Breakdown ID</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="breakdown_id" value="{{ new_breakdown_id }}" readonly>
                            </div>
                        </div>
                        <!-- Machine Info -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Machine ID</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="machine_id" value="{{ machine.machine_id }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Machine Name</label>
                            <div class="col-md-9">
                                <input type="text" name="machine_name" value="{{ machine.machine_name }}" readonly class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Machine Make</label>
                            <div class="col-md-9">
                                <input type="text" name="machine_make" value="{{ machine.machine_make }}" readonly class="form-control">
                            </div>
                        </div>

                        <!-- Breakdown Form -->
                        <div class="form-group">
                            <!-- Start Date -->
                            <label class="col-md-3 control-label">Start Date</label>
                            <div class="col-md-9">
                                <input type="datetime-local" name="start_date" class="form-control" id="start_date" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Shift</label>
                            <div class="col-md-9">
                                <select name="shift" class="form-control" required>
                                    <option value="" disabled selected>Select Shift</option>
                                    <option value="Day">Day Shift</option>
                                    <option value="Night">Night Shift</option>
                                </select>
                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="col-md-3 control-label">Causes of Breakdown</label>
                            <div class="col-md-9">
                                <input type="text" name="causes_of_breakdown" class="form-control" placeholder="Causes of Breakdown" required>
                            </div>
                        </div>
 
                        
                        <div class="form-group">
                            <label class="col-md-3 control-label">Operator Name</label>
                            <div class="col-md-9">
                                <input type="text" name="operator_name" placeholder="Operator Name" class="form-control" required>
                            </div>
                        </div>

                        <!-- Add this after the quantity input field -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Image</label>
                            <div class="col-md-9">
                                <input type="file" id="imageInput" name="image" accept="image/*" class="form-control" />
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>
                        
                    </form>

                   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<div class="content-container" id="content">
    <!-- dashboard page -->
    <div class="page page-dashboard">

        <div class="page-wrap">


            

        </div> <!-- #end page-wrap -->
    </div>
    <!-- #end dashboard page -->
</div>


</div> <!-- #end main-container -->


<!-- theme settings -->
<div class="site-settings clearfix hidden-xs" >
<div class="settings clearfix">
    <div class="trigger ion ion-settings left"></div>
    <div class="wrapper left">
        <ul class="list-unstyled other-settings">
            <li class="clearfix mb10">
                <div class="left small">Nav Horizontal</div>
                <div class="md-switch right">
                    <label>
                        <input type="checkbox" id="navHorizontal"> 
                        <span>&nbsp;</span> 
                    </label>
                </div>
                
                
            </li>
            <li class="clearfix mb10">
                <div class="left small">Fixed Header</div>
                <div class="md-switch right">
                    <label>
                        <input type="checkbox"  id="fixedHeader"> 
                        <span>&nbsp;</span> 
                    </label>
                </div>
            </li>
            <li class="clearfix mb10">
                <div class="left small">Nav Full</div>
                <div class="md-switch right">
                    <label>
                        <input type="checkbox"  id="navFull"> 
                        <span>&nbsp;</span> 
                    </label>
                </div>
            </li>
        </ul>
        <hr/>
        <ul class="themes list-unstyled" id="themeColor">
            <li data-theme="theme-zero" class="active"></li>
            <li data-theme="theme-one"></li>
            <li data-theme="theme-two"></li>
            <li data-theme="theme-three"></li>
            <li data-theme="theme-four"></li>
            <li data-theme="theme-five"></li>
            <li data-theme="theme-six"></li>
            <li data-theme="theme-seven"></li>
        </ul>
    </div>
</div>
</div>
<!-- #end theme settings -->




<!-- Dev only -->
<!-- Vendors -->
{% load static %}


<script src="{% static 'scripts/vendors.js' %}"></script>
<script src="{% static 'scripts/plugins/d3.min.js' %}"></script>
<script src="{% static 'scripts/plugins/c3.min.js' %}"></script>
<script src="{% static 'scripts/plugins/screenfull.js' %}"></script>
<script src="{% static 'scripts/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'scripts/plugins/waves.min.js' %}"></script>
<script src="{% static 'scripts/plugins/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'scripts/plugins/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'scripts/plugins/bootstrap-rating.min.js' %}"></script>
<script src="{% static 'scripts/app.js' %}"></script>
<script src="{% static 'scripts/index.init.js' %}"></script>



<script>
document.getElementById('form').addEventListener('submit', async function (e) {
    e.preventDefault(); // Stop default form submission

    const form = e.target;
    const imageInput = document.getElementById('imageInput');
    const file = imageInput.files[0];
    const formData = new FormData();

    if (file) {
        // Create compressed image using canvas
        const compressedBlob = await compressImage(file, 0.6); // 60% quality
        formData.append('image', compressedBlob, file.name.replace(/\.[^/.]+$/, '') + '_compressed.jpg');
    }

    // Append the rest of the form fields
    const inputs = form.querySelectorAll('input, select');
    inputs.forEach(input => {
        if (input.name && input.type !== 'file') {
            formData.append(input.name, input.value);
        }
    });

    // Submit via fetch
    fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
        }
    })
    .then(response => {
        if (response.ok) {
            alert("Form submitted successfully");
            window.location.reload();
        } else {
            alert("Submission failed");
        }
    });
});

// Compression function
function compressImage(file, quality = 0.7) {
    return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = event => {
            const img = new Image();
            img.src = event.target.result;
            img.onload = () => {
                const canvas = document.createElement('canvas');
                const maxWidth = 1024; // Resize if wider
                const scale = Math.min(maxWidth / img.width, 1);
                canvas.width = img.width * scale;
                canvas.height = img.height * scale;
                const ctx = canvas.getContext('2d');
                ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                canvas.toBlob(blob => {
                    resolve(blob);
                }, 'image/jpeg', quality);
            };
        };
        reader.onerror = error => reject(error);
    });
}
</script>


</body>
</html>
