PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-04-23 06:46:23.270577');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-04-23 06:46:23.325896');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-04-23 06:46:23.375100');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "sparesapp_machine_details" ("machine_id" varchar(50) NOT NULL PRIMARY KEY, "machine_name" varchar(50) NULL, "machine_make" varchar(50) NULL, "machine_model" varchar(50) NULL, "capacity" integer NULL, "specification1" varchar(50) NULL, "specification2" varchar(50) NULL, "specification3" varchar(50) NULL, "specification4" varchar(50) NULL, "specification5" varchar(50) NULL);
INSERT INTO sparesapp_machine_details VALUES('MAC0001','Hydraulic Press ','HVM','2017',20000,'Press Heavy Load','Sustainable ','Long Run','Reliable','Convinient');
INSERT INTO sparesapp_machine_details VALUES('MAC0002','Constmach Concrete Block Making Machine ','Bs-36 Concrete Block','2025',6300,'Total Vibration Force 30.000','Hopper Capacity 1.5 m┬│','Pallet Size 1.400 x 1.150 x 230 mm','Production Capacity 120 - 130 Pallet per hour','Control PLC Automation System (Schneider)');
INSERT INTO sparesapp_machine_details VALUES('MAC0003','Screw manufacturing machine','CMA',' LN12 400 M12',8000,'Pneumatically driven','Working range: 1800 mm','Torque: 28 Nm','Type: LN12 400 M12','Range: M3 to M12');
CREATE TABLE IF NOT EXISTS "sparesapp_minimum_stock_quantity_details" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "machine_id" varchar(50) NULL, "machine_name" varchar(100) NULL, "machine_make" varchar(100) NULL, "spare_id" varchar(40) NULL UNIQUE, "spare_name" varchar(50) NULL, "spare_importance" varchar(50) NULL, "quantities_used" integer NULL);
CREATE TABLE IF NOT EXISTS "sparesapp_minimum_stock_quantity_master" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "spare_id" varchar(40) NULL UNIQUE, "spare_name" varchar(50) NULL, "quantities_used" integer NULL, "status" integer NULL);
CREATE TABLE IF NOT EXISTS "sparesapp_minimum_stocks_quantity_details" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "machine_id" varchar(50) NULL, "machine_name" varchar(100) NULL, "machine_make" varchar(100) NULL, "spare_id" varchar(40) NULL, "spare_name" varchar(50) NULL, "spare_importance" varchar(50) NULL, "quantities_used" integer NULL);
INSERT INTO sparesapp_minimum_stocks_quantity_details VALUES(1,'MAC0001','Hydraulic Press ','HVM','SP0001','ball bearing','normal',200);
INSERT INTO sparesapp_minimum_stocks_quantity_details VALUES(2,'MAC0001','Hydraulic Press ','HVM','SP0002','Roller Bearings','preventive',170);
INSERT INTO sparesapp_minimum_stocks_quantity_details VALUES(3,'MAC0001','Hydraulic Press ','HVM','SP0003','Oil Seals','critical',30);
CREATE TABLE IF NOT EXISTS "sparesapp_spares_add_machine" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "machine_id" varchar(40) NULL, "machine_name" varchar(50) NULL, "machine_make" varchar(50) NULL, "machine_model" varchar(50) NULL, "spare_id" varchar(40) NULL, "spare_name" varchar(50) NULL, "spare_importance" varchar(50) NULL, "quantities_used" integer NULL, "status" integer NOT NULL);
INSERT INTO sparesapp_spares_add_machine VALUES(1,'MAC0001','Hydraulic Press ','HVM',NULL,'SP0001','ball bearing','normal',200,1);
INSERT INTO sparesapp_spares_add_machine VALUES(2,'MAC0001','Hydraulic Press ','HVM',NULL,'SP0002','Roller Bearings','preventive',170,1);
INSERT INTO sparesapp_spares_add_machine VALUES(3,'MAC0001','Hydraulic Press ','HVM',NULL,'SP0003','Oil Seals','critical',30,1);
CREATE TABLE IF NOT EXISTS "sparesapp_minimum_stocks_quantity_master" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "spare_id" varchar(40) NULL UNIQUE, "spare_name" varchar(50) NULL, "quantities_used" integer NULL, "status" integer NULL, "date" date NOT NULL);
INSERT INTO sparesapp_minimum_stocks_quantity_master VALUES(1,'SP0001','ball bearing',639,1,'2025-05-06');
INSERT INTO sparesapp_minimum_stocks_quantity_master VALUES(2,'SP0002','Roller Bearings',763,1,'2025-05-06');
INSERT INTO sparesapp_minimum_stocks_quantity_master VALUES(3,'SP0003','Oil Seals',652,1,'2025-05-06');
CREATE TABLE IF NOT EXISTS "sparesapp_inward_masters" ("inward_id" varchar(20) NOT NULL PRIMARY KEY, "batch_id" varchar(20) NOT NULL, "invoice_id" varchar(50) NOT NULL, "vendor_name" varchar(100) NOT NULL, "vendor_phone" varchar(15) NOT NULL, "vendor_gst" varchar(30) NOT NULL, "date" date NULL, "grand_total" integer NOT NULL, "status" integer NOT NULL);
INSERT INTO sparesapp_inward_masters VALUES('IN0001','BATCH0001','INV0001','Pavan','9392584900','200','2025-05-05',86000,1);
INSERT INTO sparesapp_inward_masters VALUES('IN0002','BATCH0002','INV0002','MUNISH','6379670089','500','2025-05-05',150000,1);
INSERT INTO sparesapp_inward_masters VALUES('IN0003','BATCH0003','INV0003','Ganesh','8977659056','2900','2025-05-05',497000,1);
CREATE TABLE IF NOT EXISTS "sparesapp_inward_details" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "batch_id" varchar(20) NOT NULL, "invoice_id" varchar(50) NOT NULL, "spare_id" varchar(20) NOT NULL, "spare_name" varchar(100) NOT NULL, "vendor_name" varchar(100) NOT NULL, "vendor_phone" varchar(15) NOT NULL, "vendor_gst" varchar(30) NOT NULL, "invoice_cost" real NOT NULL, "invoice_quantity" integer NOT NULL, "cost_per_quantity" real NOT NULL, "inward_id" varchar(20) NOT NULL REFERENCES "sparesapp_inward_masters" ("inward_id") DEFERRABLE INITIALLY DEFERRED, "status" integer NOT NULL, "date" date NULL);
INSERT INTO sparesapp_inward_details VALUES(1,'BATCH0001','INV0001','SP0001','ball bearing','Pavan','9392584900','200',2000.0,1000,2.0,'IN0001',1,'2025-05-05');
INSERT INTO sparesapp_inward_details VALUES(2,'BATCH0001','INV0001','SP0002','Roller Bearings','Pavan','9392584900','200',20000.0,20000,1.0,'IN0001',1,'2025-05-05');
INSERT INTO sparesapp_inward_details VALUES(3,'BATCH0001','INV0001','SP0003','Oil Seals','Pavan','9392584900','200',30000.0,20000,1.5,'IN0001',1,'2025-05-05');
CREATE TABLE IF NOT EXISTS "sparesapp_current_stock_data_master" ("spare_id" varchar(50) NOT NULL PRIMARY KEY, "spare_name" varchar(50) NULL, "total_quantity" integer NULL, "status" integer NOT NULL, "date" date NOT NULL, "grand_total" integer NOT NULL, "minimum_stock_quantity" integer NOT NULL);
INSERT INTO sparesapp_current_stock_data_master VALUES('SP0001','ball bearing',990,1,'2025-05-27',0,639);
INSERT INTO sparesapp_current_stock_data_master VALUES('SP0002','Roller Bearings',19901,1,'2025-05-27',0,763);
INSERT INTO sparesapp_current_stock_data_master VALUES('SP0003','Oil Seals',19965,1,'2025-05-06',0,652);
CREATE TABLE IF NOT EXISTS "sparesapp_outward_details" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "outward_id" varchar(50) NULL, "machine_id" varchar(50) NULL, "machine_name" varchar(40) NULL, "spare_id" varchar(40) NULL, "spare_name" varchar(50) NULL, "purpose" varchar(50) NULL, "out_quantity" integer NULL, "date" date NULL, "status" integer NOT NULL, "minimum_stock_quantity" integer NOT NULL);
CREATE TABLE IF NOT EXISTS "sparesapp_spare_details" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "spare_id" varchar(40) NULL UNIQUE, "spare_name" varchar(50) NULL, "spare_make" varchar(30) NULL, "specification_I" varchar(50) NULL, "specification_II" varchar(50) NULL, "specification_III" varchar(50) NULL, "specification_IV" varchar(50) NULL, "status" integer NOT NULL, "minimum_stock_quantity" integer NOT NULL);
INSERT INTO sparesapp_spare_details VALUES(1,'SP0001','ball bearing','Timken,',' Deep groove',' single row','steel',' radial load capacity',1,0);
INSERT INTO sparesapp_spare_details VALUES(2,'SP0002','Roller Bearings','NSK','Cylindrical',' material','chrome steel',' radial load capacity',1,0);
INSERT INTO sparesapp_spare_details VALUES(3,'SP0003','Oil Seals',' National Seals,','Nitrile rubber,  .','shaft diameter range: 20mm to 200mm','temperature range: -30┬░C to +100┬░C,','seals fixed properly',1,0);
CREATE TABLE IF NOT EXISTS "sparesapp_current_stock_data_details" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "spare_id" varchar(50) NULL, "spare_name" varchar(50) NULL, "type" varchar(50) NULL, "total_quantity" integer NULL, "status" integer NOT NULL, "date" date NULL);
INSERT INTO sparesapp_current_stock_data_details VALUES(1,'SP0001','ball bearing','INWARD',1000,1,'2025-05-05');
INSERT INTO sparesapp_current_stock_data_details VALUES(2,'SP0002','Roller Bearings','INWARD',20000,1,'2025-05-05');
INSERT INTO sparesapp_current_stock_data_details VALUES(3,'SP0003','Oil Seals','INWARD',20000,1,'2025-05-05');
CREATE TABLE IF NOT EXISTS "sparesapp_preventive_work" ("preventive_id" varchar(50) NOT NULL PRIMARY KEY, "machine_id" varchar(50) NULL, "type_of_work" varchar(50) NULL, "machine_name" varchar(50) NULL, "work_cycle" varchar(50) NULL, "status" integer NULL);
INSERT INTO sparesapp_preventive_work VALUES('PVT0001','MAC0001','Lubrication Checking','Hydraulic Press ','Week',1);
INSERT INTO sparesapp_preventive_work VALUES('PVT0002','MAC0001','Oil Level Checking','Hydraulic Press ','Month',1);
INSERT INTO sparesapp_preventive_work VALUES('PVT0003','MAC0018','Blade checking','Grinding Machine			 ','Day',1);
CREATE TABLE IF NOT EXISTS "sparesapp_preventive_work_details" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "preventive_id" varchar(50) NOT NULL, "machine_id" varchar(50) NULL, "machine_name" varchar(50) NULL, "type_of_work" varchar(50) NULL, "work_cycle" varchar(50) NULL, "checked_by" varchar(50) NOT NULL, "date" date NOT NULL, "status" integer NULL);
INSERT INTO sparesapp_preventive_work_details VALUES(1,'PVT0001','MAC0001','machine_name','Lubrication Checking','Week','Ganesh','2025-05-12',1);
INSERT INTO sparesapp_preventive_work_details VALUES(2,'PVT0001','MAC0001','machine_name','Lubrication Checking','Week','Ganesh','2025-05-13',1);
CREATE TABLE IF NOT EXISTS "sparesapp_userimage" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "image" varchar(100) NOT NULL, "uploaded_at" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "sparesapp_breakdowndetail" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "spare_id" varchar(50) NULL, "spare_name" varchar(100) NULL, "quantity" integer NULL, "breakdown_id_id" varchar(50) NOT NULL REFERENCES "sparesapp_breakdownmaster" ("breakdown_id") DEFERRABLE INITIALLY DEFERRED, "machine_id" varchar(50) NULL, "causes_of_breakdown" text NULL, "end_date" datetime NULL, "machine_name" varchar(100) NULL, "image" varchar(100) NULL, "uploaded_at" datetime NULL);
INSERT INTO sparesapp_breakdowndetail VALUES(1,'SP0003','Oil Seals',17,'BRK0001','MAC0001','Oil Change','2025-05-03 16:40:00','Hydraulic Press ',NULL,'2025-05-17 08:44:40.489691');
INSERT INTO sparesapp_breakdowndetail VALUES(2,'SP0006','Filters (Air, Oil, Fuel)',7,'BRK0001','MAC0001','Oil Change','2025-05-03 16:40:00','Hydraulic Press ',NULL,'2025-05-17 08:44:40.489691');
INSERT INTO sparesapp_breakdowndetail VALUES(3,'SP0003','Oil Seals',18,'BRK0002','MAC0002','Testing','2025-04-29 16:55:00','Constmach Concrete Block Making Machine ',NULL,'2025-05-17 08:44:40.489691');
CREATE TABLE IF NOT EXISTS "sparesapp_breakdownmaster" ("breakdown_id" varchar(50) NOT NULL PRIMARY KEY, "machine_id" varchar(50) NULL, "machine_name" varchar(100) NULL, "machine_make" varchar(100) NULL, "start_date" datetime NULL, "end_date" datetime NULL, "hours" real NULL, "shift" varchar(20) NULL, "causes_of_breakdown" text NULL, "technician_attend" varchar(100) NULL, "operator_name" varchar(100) NULL, "Breakdown_Status" integer NOT NULL, "damage_image" varchar(100) NULL);
INSERT INTO sparesapp_breakdownmaster VALUES('BRK0001','MAC0001','Hydraulic Press ','HVM','2025-05-02 17:40:00','2025-05-03 16:40:00',23.0,'Day','Oil Change','Gowtham','Vignesh',1,NULL);
INSERT INTO sparesapp_breakdownmaster VALUES('BRK0002','MAC0002','Constmach Concrete Block Making Machine ','Bs-36 Concrete Block','2025-04-27 16:54:00','2025-04-29 16:55:00',48.0200000000000031,'Day','Testing','Jada Muni','Girish',1,NULL);
INSERT INTO sparesapp_breakdownmaster VALUES('BRK0003','MAC0003','Screw manufacturing machine','CMA','2025-04-29 21:59:00','2025-05-27 11:20:00',661.350000000000022,'Day','Perfor,mance Test','ubkjbkjb','Mohan',0,NULL);
CREATE TABLE IF NOT EXISTS "sparesapp_fcmtoken" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "username" varchar(150) NOT NULL, "token" varchar(512) NOT NULL UNIQUE, "created_at" datetime NOT NULL);
INSERT INTO sparesapp_fcmtoken VALUES(1,'admin','f98mC3cWSvy8nTMjw6cwCz:APA91bFqhWa38d8zQs5l9Wrlf4BjTxWx3opiqFgYCyuOBZFOtHZSlA56iot48LeN4yao8gIiwFkFYxm7njE8gmLFnzCk29wfTRLOuQw-EkdDpQthryCifGA','2025-05-27 08:47:59.570253');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',39);
INSERT INTO sqlite_sequence VALUES('django_admin_log',0);
INSERT INTO sqlite_sequence VALUES('django_content_type',24);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "sparesapp_inward_details_inward_id_a86be9f2" ON "sparesapp_inward_details" ("inward_id");
CREATE INDEX "sparesapp_breakdowndetail_breakdown_id_id_6732cc59" ON "sparesapp_breakdowndetail" ("breakdown_id_id");
COMMIT;
